@mixin flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin layout-height{
    width: 100%;
    height: 100%;
}