$font-family-base: 'Inter', sans-serif;
$font-size-base: 16px;

$color-text: #333;
$color-background: #F2F2F2;
$color-primary: #007bff;

// border radius
$border-radius: 8px;

// header
$header-background-color: bisque;
$header-box-shadow: lightgray;
$header-drop-down-width: 300px;

// accordian item
$accordian-border: 1px solid grey;